.footer {
  width: 100%;
  height: 80px;
  background: #656a6e;

  &__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.7025rem;
    text-align: center;
    color: #fff;
    padding-top: 24px;

    @media (width <= 768px) {
      font-size: 1rem;
      line-height: 1.4rem;
    }

    @media (width <= 500px) {
      font-size: 0.875rem;
      line-height: 1.191rem;
    }
  }
}
